.company_info{
    background-color: #eef4fc;
}

.companyinfo_container{
    display: flex;
    justify-content: space-around;
    text-align: start;
    padding: 100px ;
}
.courses{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
width: 1000px;
padding: 10px;
}
.courses_info{
    width: 650px;
}
.courses_info h1{
    font-weight: bold;
}
.courses_info h6{
    font-weight: 500;
    color: #086AD7;
    margin-top: 80px;
}
.courses_info p{
    margin: 25px 0;
    font-weight: 600;
    letter-spacing: 0.5px;
  
    color: rgb(109, 108, 108);
}
.icon p{
    color: black;
    font-weight: 600;
    font-size: 18px;
    margin-top:15px;
}
.icon{
    width: 200px;
    height: 200px;
    padding: 0px;
    background-color: white;
    color:  #086AD7;
    margin: 15px;
    border-radius: 10px;

}
.icon:hover{
    background-color: #086AD7;
    color: white;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 10px 50px 0px rgba(8, 106, 215, 0.49);
}
.icon:hover p{
    color: white;
    transition: all 0.4s ease-in-out;

}

.icon i{
   
    font-size: 60px;
    margin-top: 50px;
}
.button1{
    background-color: #086AD7;
    color: #fff;
    padding:16px 40px;
    border: none;
    outline: none;   
    border-radius: 10px;
    font-weight: 700;
}
.button1:hover {
  background-color: #000;
    border: none;
    outline: none;
  color: #FFF;
  transition: all 0.4s ease-in-out;

}


@media only screen and (min-width:320px) and (max-width:850px) 
 {
    .companyinfo_container{
        padding: 20px;
        flex-wrap: wrap;
    }
    .icon{
width: 90%;
    }
    .button1{
        display: block;
    }
    .courses_info h6{
        margin-top: 20px;
    }
 }